* {
  padding: 0px;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: rgb(245, 212, 221);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 40%;
  height: 80px;
  padding: 20px;
  align-items: center;
  background-color: white;
  font-size: large;
  text-align: center;
}

.requisitos {
  font-style: italic;
}

button {
  width: 200px;
  font-size: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(245, 166, 178);
  cursor: pointer;
}

.logot {
  height: 30px;
  margin: 15px 5px 20px 5px;
}
